<!DOCTYPE html>
<html>
<head>
  <title>Vue</title>
  <script src="vue.js"></script>

</head>
<body>
  <div id="app">
    <h1> Count : {{count}}</h1>
    <button v-if="this.count<15" @click="this.increment()"> +1 </button>
    <p v-esle> Can like only 15 times!</p>
    <button  v-if="this.count>0" @click="this.decrement()"> -1 </button>
    <p v-esle> Can like less than 0 times!</p>


  </div>
  <script>

  new Vue
  ({
    el: '#app',
    data:
    {
      count:0
    },
    methods:
    {
      increment: function()
      {
        if (this.count<15)
        this.count += 1;
      },

      decrement: function()
      {
        if (this.count>0)
        this.count -= 1;
      }
    }
 })

</script>
</body>
</html>
